services:
  meilisearch:
    image: getmeili/meilisearch:v1.7
    container_name: meilisearch
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - ./data.ms:/meili_data.ms
    ports:
      - "127.0.0.1:7700:7700"

  postgres:
    image: postgres:16
    container_name: postgres-nomu
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: express-api
    depends_on:
      - meilisearch
      - postgres
    env_file:
      - .env
    ports:
      - "127.0.0.1:3001:3001"
    volumes:
      - ./logs:/app/logs

volumes:
  postgres-data:
