services:
  meilisearch:
    image: getmeili/meilisearch:v1.7
    container_name: meilisearch
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - ./data.ms:/meili_data.ms
    ports:
      - "7700:7700"

  api:
    build: .
    container_name: express-api
    ports:
      - "3001:3001"
    depends_on:
      - meilisearch
      - postgres
    environment:
      - PORT=${PORT}
      - MEILI_HOST=${MEILI_HOST}
      - MEILI_API_KEY=${MEILI_API_KEY}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - .:/app
      - /app/node_modules
      - ./logs:/app/logs

  postgres:
    image: postgres:16
    container_name: postgres-nomu
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    container_name: adminer-nomu
    restart: always
    ports:
      - "8080:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
      - ADMINER_DESIGN=nette
    depends_on:
      - postgres

volumes:
  postgres-data:
