services:
  meilisearch:
    image: getmeili/meilisearch:v1.7
    container_name: meilisearch
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - ./data.ms:/meili_data.ms
    ports:
      - "127.0.0.1:7700:7700"

  postgres:
    image: postgres:16
    container_name: postgres-nomu
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: minio-nomu
    restart: always
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: express-api
    depends_on:
      - meilisearch
      - postgres
      - minio
    env_file:
      - .env
    environment:
      - MINIO_ENDPOINT=minio-nomu
      - MINIO_PORT=9000
      - MINIO_USE_SSL=false
      - MINIO_ACCESS_KEY=${MINIO_ROOT_USER}
      - MINIO_SECRET_KEY=${MINIO_ROOT_PASSWORD}
      - MINIO_PUBLIC_URL=${MINIO_PUBLIC_URL}
    ports:
      - "127.0.0.1:3001:3001"
    volumes:
      - ./logs:/app/logs

volumes:
  postgres-data:
  minio-data:
